
.footer {
    position: relative;
    top: 10vh;
    width: 100%;
    height: fit-content;
    min-height: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: grid;
    place-items: center;
    background-color: white;
}

.footer p {
    font-size: 0.9rem;
    text-align: center;
    margin:0;
}